<div class="section">
  <div class="container">
    <h1 class="subtitle is-1 title-font">PANDEMIC GEORGIA</h1>
  </div>
</div>

<div class="section">
  <div class="container">
    ${userData.is_logged_in ? `
    <h2 class="subtitle is-2 title-font">Welcome, ${userData.teamname}</h2>
    <h2 class="subtitle is-3 title-font"><a href="/game">Click</a> to Play</h2>
    `:`
    <h2 class="subtitle is-3 title-font"><a href="/login">Login</a> to Play</h2>
    `}
  </div>
</div>
<div class="section">
  <div class="container">
    <h2 class="subtitle is-2 title-font">How to Play</h2>
    <p class="is-size-4 has-text-dark">
      Pandemic Georgia is a variation of the board game Pandemic. Your goal is
      to gain enough knowlege to cure the pandemic in 19 days (turns).
    </p>
    <br />
    <div class="columns">
      <div class="column">
        <h2 class="subtitle is-3 title-font has-text-centered">Basics</h2>
        <figure class="image is-3by4">
          <img src="/images/basics.png" />
        </figure>
        <div class="content">
          <p class="is-size-5 has-text-black">
            Each player has 4 actions per turn and the player may do two
            actions. Movement and Cure. Four knowledge tokens are needed to win
            the game. The infection rate will increase as the game progresses
            (please note this is a future feature and not currently
            implemented.)
          </p>
        </div>
      </div>
      <div class="column">
        <h2 class="subtitle is-3 has-text-centered title-font">Movement</h2>
        <figure class="image is-3by4">
          <img src="/images/movement.png" />
        </figure>
        <div class="content">
          <p class="is-size-5 has-text-black">
            During a players turn the player may move between nearby cities by
            clicking on city near the currently occupied city. Due to the fact
            information is imperfect during an pandemic the players cannot see
            the exact cities that connect.
          </p>
        </div>
      </div>
      <div class="column">
        <h2 class="subtitle is-3  has-text-centered title-font">Cures</h2>
        <figure class="image is-3by4">
          <img src="/images/cure1.png" />
        </figure>
        <div class="content">
          <p class="is-size-5 has-text-black">
            If the current player is located in a city with an infection they
            can click on that city to cure the infection. Cureing and infection
            is also how knowledge towards the cure is gained.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
