<div class="section">
  <div class="container login">
    <h3 class="subtitle is-3 title-font">Signup To Play</h3>
    <form action="/login/signup" method="POST">
      <div class="field">
        <label class="label">Team Name</label>
        <div class="control">
          <input
            class="input"
            name="teamname"
            type="text"
            placeholder="Enter your Team Name"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input
            class="input"
            name="email"
            type="email"
            placeholder="i.e. - team@cdc.gov"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" name="password" type="password" />
        </div>
      </div>
      <div class="control">
        <button class="button is-primary">Signup</button>
      </div>
    </form>
  </div>
</div>
