html {
  font-size: 17px;
  color: white
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
}

.gameBoard {
  background-image: url("../img/image.png");
  background-size: contain;
  /* background-color: lightcoral; */
  background-repeat: no-repeat;
  max-width: 627px;
  height: 700px;
  margin: 8vh auto;
}

div:hover {
  background-color: rgba(240, 128, 128, 0.4);
  transition: 0.3s;
}

img {
  width: 100%;
  height: auto;
}

.north {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  margin: auto;
}

.n1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5vh 0;
  width: 25%;
  height: 100%;
}

.n2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5vh 0;
  width: 25%;
  height: 100%;
}

.macon {
  align-self: flex-end;
  padding-left: 4vw;
  padding-bottom: 12vh;
}

a {
  text-decoration: none;
  color: salmon;
}

.n3 {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  height: 100%;
}

.n4 {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.m1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.m2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 33%;
  height: 100%;
}

.m3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  height: 100%;
}

.m4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 25%;
  height: 100%;
  visibility: hidden;
}

.s1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15vh;
  width: 25%;
  height: 100%;
}

.s2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.s3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5vh;
  width: 25%;
  height: 100%;
}

.s4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  height: 100%;
}

.middle {
  text-align: center;
  display: flex;
  width: 100%;
  height: 33%;
}

.south {
  text-align: center;
  display: flex;
  width: 100%;
  height: 33%;
}

@media only screen and (max-width: 769px) {
  .gameBoard {
    background-image: url("img/image.png");
    background-size: contain;
    /* background-color: lightcoral; */
    background-repeat: no-repeat;
    max-width: 327px;
    height: 400px;
    margin: 3vh auto;
  }

  div:hover {
    background-color: rgba(240, 128, 128, 0.4);
    transition: 0.3s;
  }

  img {
    width: 100%;
    height: auto;
  }

  .north {
    text-align: center;
    width: 100%;
    height: 33%;
    display: flex;
    margin: auto;
  }

  .n1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5vh 0;
    width: 25%;
    height: 100%;
  }

  .n2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5vh 0;
    width: 25%;
    height: 100%;
  }

  .macon {
    align-self: flex-end;
    padding-left: 4vw;
    /* padding-bottom: 12vh; */
  }

  a {
    text-decoration: none;
    color: salmon;
  }

  .n3 {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: 100%;
  }

  .n4 {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
  }

  .m1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
  }

  .m2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 33%;
    height: 100%;
  }

  .m3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: 100%;
  }

  .m4 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 25%;
    height: 100%;
  }

  .s1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15vh;
    width: 25%;
    height: 100%;
  }

  .s2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    width: 25%;
    height: 100%;
  }

  .s3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5vh;
    width: 25%;
    height: 100%;
  }

  .s4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 25%;
    height: 100%;
  }

  .middle {
    text-align: center;
    display: flex;
    width: 100%;
    height: 33%;
  }

  .south {
    text-align: center;
    display: flex;
    width: 100%;
    height: 33%;
  }





}