@font-face {
  font-family: "capture_itregular";
  src: url("Capture_it-webfont.eot");
  src: url("Capture_it-webfont.eot?#iefix") format("embedded-opentype"),
    url("Capture_it-webfont.woff") format("woff"),
    url("Capture_it-webfont.ttf") format("truetype"),
    url("Capture_it-webfont.svg#capture_itregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(151, 215, 223);
  background: radial-gradient(
    circle,
    rgba(151, 215, 223, 1) 0%,
    rgba(33, 163, 217, 1) 68%,
    rgba(35, 66, 144, 1) 100%
  );
  height: 100vh;
}

.title-font {
  font-family: "capture_itregular", sans-serif;
}

.game-board {
  width: 940px;
}

.login {
  max-width: 640px;
}
